<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

p.left {
    text-align: left;
}
p.center {
    text-align: center;
	 margin: 5 auto;
}
img {
display: block;
margin-left: auto;
margin-right: auto;
}
h2 {
margin: 5 auto;
}
#content {
    font: 1em/1.5em 'Lato', sans-serif;
    margin: 0px auto;
    width: 275px;
    text-align: left;
}
#header {
font: bold 1.7em/2em 'Lato', sans-serif;
text-align: center;
}
.centered {
position: fixed;
top: 50%;
left: 50%;
margin-top: -50px;
margin-left: -100px;
}
#btn {
   border-radius: 10px;
   letter-spacing: 3px;
   cursor:pointer;
   width: 275px;
   height: 100px;
   border: 3px solid;
}
#btn.orange {
    border-color: #ff9900;
}
#btn.red {
   border-color: #cc0000;
   background-color: #cc0000;
   font-family: 'Lato', sans-serif;
   font-size: 24px;
   color: white;
}
#btn.green {
    border-color: green;
}
#btn.blue {
	border-color: #3399ff;
}
#btn.btn-reader-backup {
   background:url(reader-backup.png) no-repeat;
}
#btn.btn-camera-backup {
   background:url(camera-backup.png) no-repeat;
}
#btn.btn-device-backup {
   background:url(device-backup.png) no-repeat;
}
#btn.btn-card-backup {
   background:url(card-backup.png) no-repeat;
}
#btn.btn-network-backup {
   background:url(network-backup.png) no-repeat;
}
#btn.btn-device-2-network-backup {
   background:url(device-2-network-backup.png) no-repeat;
}
#btn.btn-shutdown{
   background: url(shutdown.png) no-repeat;
   background-color: #cc0000;
}
#dialog {
         width: auto;  height: auto;
         background: #009933;
         border-radius: 5px;
         color: #fff;
         font-family: 'Lato', sans-serif; font-size: 17px;
         padding-right: 0.5em;
	 padding-left: 0.5em;
	 padding-top: 0.5em;
	 padding-bottom: 0.5em;
         border:none;
     }